<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <p>&copy; <%= new Date().getFullYear() %> <a href="https://www.lmhd.fr" target="_blank">LMHD</a> | <a
                            href="https://www.lmhd.fr/contact" target="_blank">Contact</a> | <a
                            href="https://www.lmhd.fr/privacy-policy" target="_blank">Privacy Policy</a></p>
            </div>
        </div>
    </div>
</footer>